BOT_TOKEN=your_bot_token_here
ADMIN_IDS=123456789

MARZBAN_URL=http://127.0.0.1:8000
MARZBAN_USERNAME=your_marzban_username
MARZBAN_PASSWORD=your_marzban_password
MARZBAN_INBOUND_TAG=VLESS TCP REALITY
MARZBAN_INBOUND_TAGS=VLESS TCP REALITY
PUBLIC_HOST=176.124.220.50
SUBSCRIPTION_URL_PREFIX=https://sub.karipuza.ru:8443

SUPPORT_USERNAME=@your_username
